 .heatmap{
    margin:100px 20px 0px 230px;
 }

@media screen and (max-width:600px) {
   .heatmap{
    margin:100px 20px 0px 20px;
   }
}

@media screen and (max-width:1000px) {
    .heatmap{
      overflow-x:scroll;
    }
    .react-calendar-heatmap{
       width:600px;
    }
 }
