/* ---------- Task Drawer --------- */
.taskDrawerContainer{
    /* border: 2px solid red; */
    width: 450px;
}
.drawerheader{
    border-bottom:2px solid #e7e7e7;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.drawerheadername{
    font-size: 20px;
    color: #656565;
    font-weight: 500;
}
.drawerclosebutton{
    font-size: 20px;
    color: #5883f3;
    cursor: pointer;
}
.drawerbodycontainer{
    border: 2px solid red;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


/* -------------------- */
.task-group{
    width:100%;
    margin-top:150px;
    margin-bottom:100px;
}

.plan-name{
    display:flex;
    justify-content:space-around;
    margin-bottom:50px;
}

.plan-name .plan-text{
    line-height:36px;
    font-size:25px;
    font-weight:200;
}

 .addTask{
    cursor: pointer;
    height: 38px;
    width: 104px;
    background-color: rgba(8, 32, 243, 0.75);
    color: white;
    font-size: 20px;
    border-radius: 7px;
    border: none;
    margin-right: 50px;
}


